.header_container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.header_text_container {
  font-size: 5rem;
  font-family: "Playfair Display", serif;
  position: relative;
  letter-spacing: 8px;
  z-index: 2;
}

.index {
  font-size: 1.8rem;
}

.slogan {
  letter-spacing: 1px;
  font-weight: 300;
  text-align: center;
  padding: 0 10px;
  position: relative;
  margin-top: 3rem;
  width: 80%;
  height: 5rem;
  overflow: hidden;
  /* background-color: red; */
}

.slogan_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: red; */
  width: 80%;
  /* opacity: 0; */
}

.left_button_container {
  position: fixed;
  top: 12%;
  left: 10%;
  font-family: "Tapestry", cursive;
  font-size: 1.2rem;
  overflow: hidden;
  z-index: 110;
}

.left_button {
  position: absolute;
  top: -100%;
  width: 100%;
  height: 100%;
  z-index: 10;
  cursor: pointer;
}

.left_button1 {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  z-index: 10;
  cursor: pointer;
}

.header_text_holder {
  opacity: 0;
}

.header_text {
  position: absolute;
  top: 100%;
  left: 0;
}

.header_text1 {
  position: absolute;
  top: -100%;
  left: 0;
}

.sign_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign_input_container {
  width: 100%;
  height: 50%;
  background-color: #fff;
  position: relative;
}

.sign_input {
  width: 100%;
  outline: none;
  border: none;
}

.sign_change_button {
  position: absolute;
  right: 0;
  top: 30%;
  width: 50px;
  height: 30px;
  background-color: #050505;
  color: #fff;
}

.scroll_bottom_container {
  position: absolute;
  right: -35px;
  bottom: -35px;
  width: 70px;
  height: 70px;
  background-color: #050505;
  border-radius: 50%;
  z-index: 1;
}

.square_decoration {
  top: 120%;
  left: -37%;
  position: absolute;
  width: 60px;
  height: 80px;
  background-color: #f4f4f5;
  z-index: -1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.background_header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 30vh;
  background-color: #fff;
  z-index: 0;
}
