.header_container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.header_text_container {
  font-size: 5rem;
  font-family: "Playfair Display", serif;
  position: relative;
  letter-spacing: 8px;
  position: relative;
}

.index {
  position: absolute;
  top: 10%;
  left: -30%;
  font-size: 1.8rem;
}

.slogan {
  letter-spacing: 1px;
  font-weight: 300;
  text-align: center;
  padding: 0 10px;
  position: relative;

  width: 100%;
  height: 5rem;
  overflow: hidden;
}

.slogan_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: red; */
  width: 80%;
}

.left_button_container {
  position: fixed;
  top: 12%;
  left: 10%;
  font-family: "Tapestry", cursive;
  font-size: 1.2rem;
  overflow: hidden;
  z-index: 110;
}

.left_button {
  position: absolute;
  top: -100%;
  width: 100%;
  height: 100%;
  z-index: 10;
  cursor: pointer;
}

.left_button1 {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  z-index: 10;
  cursor: pointer;
}

.header_text_holder {
  opacity: 0;
}

.header_text {
  position: absolute;
  top: 100%;
  left: 0;
}

.header_text1 {
  position: absolute;
  top: -100%;
  left: 0;
}

.sign_container {
  width: 100vw;
  height: 100vh;
}
