.container {
  cursor: pointer;
  z-index: 102;
  position: fixed;
  overflow: hidden;
}

.relative_container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.line {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #050505;
  border-radius: 2px;
}

.mobile_nav {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 102;
  overflow: hidden;
  display: none;
}

.mobile_nav_bg {
  position: absolute;
  width: 5000px;
  height: 5000px;
  z-index: -1;
  background-color: #050505;
  top: 5000px;
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.first_load_bg {
  position: fixed;
  width: 5000px;
  height: 5000px;
  z-index: 101;
  background-color: #050505;
  top: -1000px;
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.fixed_content {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 103;
  overflow: hidden;
  color: #ffffff;
}

.links_container {
  position: absolute;
  width: 100%;
  height: 90%;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link_container {
  font-size: 3rem;
  margin: 1rem 0;
  font-family: "Tapestry", cursive;
  position: relative;
  overflow: hidden;
}

.link_holder {
  opacity: 0;
}

.link_name {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: "Tapestry", cursive;
  cursor: pointer;
  z-index: 1;
}

.brand_container {
  position: relative;
  overflow: hidden;
  font-family: "Diplomata SC", cursive;
  font-size: 2rem;
}

.brand_name {
  font-family: "Diplomata SC", cursive;
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.counter {
  position: fixed;
  bottom: 17%;
  left: 12%;
  /* opacity: 0; */
  font-family: "Water Brush", cursive;
  font-size: 1.5rem;
  z-index: 105;
}

.counter1 {
  position: fixed;
  bottom: 17%;
  left: 12%;
  opacity: 0;
  font-family: "Water Brush", cursive;
  font-size: 1.5rem;
  z-index: 110;
}

.counter_line_container {
  position: fixed;
  bottom: 15%;
  left: 8%;
  width: 3px;
  height: 60px;
  z-index: 105;
  background-color: #050505;
}

.counter_line {
  position: absolute;
  width: 100%;
  bottom: 0;
  /* height: 100%; */
  background-color: #ffffff;
  z-index: 2;
}
