@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap");

.container {
  display: flex;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  background-color: white;
  border-radius: 10px;
  z-index: 100;
}
.backdrop {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgba(0, 5, 5, 0.15);
  z-index: 99;
  backdrop-filter: blur(0.7px);
  /* -webkit-backdrop-filter: blur(10px); */
}
.innercontainer {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.topbackground {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  width: 100%;
  height: 45%;
  justify-content: center;
  align-items: center;
  background-color: #e85e6c;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 55%;
}

.quote {
  font-size: 1.5rem;
  font-weight: bold;
  color: #868784;
  margin-top: 1rem;
}

.error {
  font-family: "Roboto Serif", sans-serif;
}
.closebtn {
  cursor: pointer;
  color: white;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #e85e6c;
  font-family: "Libre Baskerville", serif;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 8px, rgba(0, 0, 0, 0.22) 0px 6px 3px;
}
