.footer_container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #666666;
  color: #f4f4f5;
  overflow: hidden;
}

.black_water_center {
  position: absolute;
  opacity: 0.9;
  z-index: 1;
}

.current_link {
  position: absolute;
  color: rgba(244, 244, 245, 0.5);
  filter: blur(2px);
  font-size: 8rem;
  top: 15%;
  font-family: "Playfair Display", serif;
}

.footer_links {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  font-size: 2.3rem;
  font-family: "Playfair Display", serif;
  z-index: 10;
  color: #fff;
}

.footer_link {
  position: absolute;
  z-index: 10;
}

.footer_link_container {
  position: relative;
  overflow: hidden;
  font-weight: 300;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: #f4f4f5 solid 1px;
  border-bottom: #f4f4f5 solid 1px;
  padding: 10px 0;
}

.footer_link_container:nth-child(2) {
  border: none;
}
