@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

.nav {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  position: fixed;
  width: 100%;
  height: 3.2rem;
  background-color: rgba(255, 255, 255, 1);
  /* backdrop-filter: blur(10px); */
  z-index: 100;
}
.navlink {
  display: flex;
}
.brand {
  font-size: 1.5rem;
  margin-left: 4rem;
  align-self: center;
}
.link {
  margin: 0 1.5rem;
  font-size: 1.2rem;
}
.login {
  font-size: 1.3rem;
  margin-right: 4rem;
  align-self: center;
}

.pagetitle {
  z-index: 10;
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 300px;
  height: 50px;
  border-bottom-left-radius: 10px;
  background-color: #f4f4f5;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.title {
  margin-left: 2rem;
  color: #333;
  font-size: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
}

.user {
  margin-right: 2rem;
  display: flex;
  align-items: center;
}

.userName {
  margin-left: 10px;
  font-family: "Roboto Slab", serif;
  font-size: 1.1rem;
}

.notification {
  width: 200px;
  /* margin-left: 10rem; */
}

.search_box {
  width: 500px;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-left: 1px solid #333;
  border-right: 1px solid #333; */
  /* border-radius: 5px; */
  position: relative;
}

.input {
  width: 80%;
  background-color: transparent;
  border: none;
  outline: none;
  height: 100%;
  padding: 0 1rem;
  font-size: 1rem;
  font-family: "Roboto Slab", serif;
  letter-spacing: 1px;
}
