.sidebar {
  position: fixed;
  left: 20px;
  top: 20px;
  bottom: 20px;
  width: 250px;
  background-color: #6f73d2;
  height: 94vh;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  overflow: hidden;
}
.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.smallcontainer {
  padding-left: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.elements {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.branding {
  align-self: center;
  margin-bottom: 30px;
  color: white;
}
.link {
  position: relative;
  display: flex;
  width: 100%;
  height: 40px;
  color: white;
  padding: 30px 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}
.text {
  align-self: center;
  line-height: 40px;
  padding-left: 40px;
  font-weight: 100;
  font-size: 1.1rem;
}
