.user_avatar_container {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  width: 70vw;
  height: 250px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 1px;
  position: relative;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.user_avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 50px;
  bottom: -140px;
}

.user_avatar_holder {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  position: absolute;
  left: 50px;
  bottom: -110px;
}

.user_avatar_username {
  margin-left: 20px;
  font-size: 1.8rem;
  font-family: "Mochiy Pop P One", sans-serif;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  letter-spacing: 2px;
}

.user_avatar_email {
  margin-left: 20px;
  font-size: 1.1rem;
  font-family: "Roboto Slab", serif;
  position: relative;
  overflow: hidden;
  color: gray;
  letter-spacing: 1px;
}

.user_avatar_buttons {
  position: absolute;
  right: 50px;
  bottom: -80px;
  display: flex;
}

.user_avatar_add_friend {
  position: relative;

  margin-right: 10px;

  border-radius: 8px;
  overflow: hidden;
  font-size: 1rem;

  font-family: "Roboto Mono", monospace;
}

.user_avatar_add_friend1 {
  position: absolute;
  padding: 10px 10px;
  background-color: transparent;
  color: #333;
  cursor: pointer;
  display: flex;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.user_avatar_add_friend2 {
  padding: 10px 10px;
  background-color: #1b74e4;
  color: white;
  cursor: pointer;
  opacity: 0;
  display: flex;
}

.user_avatar_add_friend1_icon {
  position: absolute;
}

.user_avatar_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_avatar_update_background {
  position: absolute;
  right: 30px;
  bottom: 20px;
  display: flex;
  color: #333;
  font-size: 1.1rem;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.user_avatar_update_background1 {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.user_avatar_update_background2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  bottom: 0;
  background-color: #f4f4f5;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}
