.avatar_bg {
  width: 100%;
  height: 100%;
  background-color: #050505;
  border-radius: 10px;
  position: absolute;
  top: -20px;
  left: 50%;
  z-index: -1;
}

.avatar_bg1 {
  width: 100%;
  height: 100%;
  background-color: #050505;
  border-radius: 10px;
  position: absolute;
  top: 20px;
  left: -50%;
  z-index: -1;
}

.container {
  position: fixed;
  width: 60px;
  height: 60px;
  top: 10%;
  left: 10%;
  cursor: pointer;
}

.relative_container {
  position: relative;
  width: 100%;
  height: 100%;
}

.log_in_container {
  position: fixed;
  top: 12%;
  left: 10%;
  z-index: 105;
  font-size: 1.2rem;
  font-family: "Tapestry", cursive;
  overflow: hidden;
}

.log_in_holder {
  opacity: 0;
}

.log_in {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.log_in1 {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: #ffffff;
}

.circle_bg {
  position: fixed;
  top: calc(-60vw / 2);
  left: calc(-60vw / 2);
  width: 60vw;
  height: 60vw;
  border-radius: 50%;
  background-color: #fff;
  z-index: 105;
}
