@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.searchbox {
  position: relative;
  width: 30px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchbox input {
  position: absolute;
  left: 0;
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  padding: 10px 20px;
  padding-left: 40px;
  color: #555;
  background-color: #efeff0;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1), 5px 5px 5px rgba(0, 0, 0, 0.1),
    5px 5px 5px rgba(0, 0, 0, 0.1), 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.selectoption {
  cursor: pointer;
  z-index: 10;
  justify-content: center;
  align-items: center;
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  color: #555;
  height: 40px;
  width: 180px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #efeff0;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1), 5px 5px 5px rgba(0, 0, 0, 0.1),
    5px 5px 5px rgba(0, 0, 0, 0.1), 5px 5px 5px rgba(0, 0, 0, 0.1);
  font-family: "Montserrat", sans-serif;
  transform: translate(-50%, -50%);
}
.dropmenu {
  z-index: 2;
  position: absolute;
  left: 0;
  width: 100%;
  top: 95%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1), 5px 5px 5px rgba(0, 0, 0, 0.1),
    5px 5px 5px rgba(0, 0, 0, 0.1), 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.menuoption {
  padding: 10px 0px;
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
}
.box {
  width: 100%;
  position: absolute;
  height: 40px;
  z-index: -2;
}
.boxmenu {
  position: absolute;
  padding: 10px 0px;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
