.setting_container {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  width: calc(100% - 100px);
}
.navigation {
  top: 0px;
  display: flex;
  width: 100%;
  /* border: 1px solid #e85e6c; */
  position: sticky;
  z-index: 1;
  /* background-color: #f4f4f5; */
}

.setting_tab {
  text-align: center;
  line-height: 40px;
  width: 25%;
  height: 40px;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Merriweather", serif;
  cursor: pointer;
  position: relative;
  background-color: #f4f4f5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.setting_tab:first-child {
  border-top-left-radius: 10px;
}
.setting_tab:last-child {
  border-top-right-radius: 10px;
}

.tabs_container {
  width: 100%;
  height: 1200px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.tab_information {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  width: 100%;
  height: 700px;
  background-color: #d9d9d9;
  position: relative;
  z-index: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.personal_pro {
  width: 100%;
  padding-top: 2rem;
  padding-left: 4rem;
  display: flex;
}

.personal_pro_info {
  width: calc(50% - 150px - 2rem);
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.personal_name {
  font-size: 2rem;
  font-family: "League Spartan", sans-serif;
}

.user_name {
  margin-top: 0.5rem;
  color: #736f72;
  font-size: 1.1rem;
  font-family: "Shippori Antique B1", sans-serif;
}
.signature_container {
  margin-top: 2rem;
  margin-left: 2rem;
  width: calc(40%);
}

.signature {
  font-family: "Roboto Mono", monospace;
}

.biography {
  border-radius: 5px;
  font-family: "Hubballi", cursive;
  padding: 1rem;
  margin-top: 1rem;
  font-weight: 600;
  width: 100%;
  min-height: 50px;
  min-width: 100px;
  max-width: 100%;
  max-height: 100px;
  outline: none;
  font-size: 1.1rem;
  border: none;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.detail_profile {
  margin-left: 4rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.personal_name_input {
  width: 100%;
  height: 100px;
  display: flex;
}

.normal_input {
  text-align: center;
  margin-top: 0.5rem;
  font-size: 1.1rem;
  border-radius: 5px;
  font-family: "Hubballi", cursive;
  font-weight: 600;
  width: 70%;
  height: 50px;
  outline: none;
  border: none;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.first_name {
  width: 50%;
}
.last_name {
  width: 50%;
}

.number_input::-webkit-outer-spin-button,
.number_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number_input {
  text-align: center;
  margin-top: 0.5rem;
  font-size: 1.1rem;
  border-radius: 5px;
  font-family: "Hubballi", cursive;
  font-weight: 600;
  width: 70%;
  height: 50px;
  outline: none;
  border: none;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.account_security {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  padding-right: 4rem;
}

.account_security_title {
  font-weight: 600;
  font-size: 1.8rem;
  font-family: "Syne Mono", monospace;
}
.account_security_quote {
  font-weight: 500;
  font-family: "Playfair Display", serif;
  font-size: 1.1rem;
  margin-top: 0.5rem;
}

.account_security_button {
  position: relative;
  margin-top: 1rem;
  align-self: center;
  padding: 10px 20px;
  /* background-color: #ff5a5f; */
  font-family: "Syne Mono", monospace;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
}

.changepssw_style {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  background-color: #ff5a5f;
}

.changepssw_style_left {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  background-color: #ff5a5f;
}

.changepssw_style_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1px;
  height: 1px;
  background-color: #ff5a5f;
}

.changepssw_style_right {
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 1px;
  background-color: #ff5a5f;
}
