.container {
  width: 90%;
  position: relative;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow-y: scroll;
}

.overflow_container {
  overflow-y: hidden;
  width: 90%;
  position: absolute;
  top: 100%;
  left: 15%;
}

.no_result {
  font-size: 0.9rem;
  font-weight: 100;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  padding: 1rem;
}

.mini_profile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  cursor: pointer;
}

.user_detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user_detail_username {
  font-size: 1.2rem;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 1px;
}

.user_detail_email {
  font-size: 0.9rem;
  font-family: "Playfair Display", serif;
  color: #7f7979;
}
