@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");

.total_token {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  /* background-color: white; */
  position: relative;
  margin: auto;
  z-index: 1;
  margin-top: 3rem;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.total_token_quote1 {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #555;
}

.total_token_quote2 {
  font-size: 2rem;
  font-family: "Mochiy Pop P One", sans-serif;
  margin-bottom: 1rem;
}
.token {
  font-size: 1rem;
}
.total_token_quote3 {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.5rem;
  color: #555;
}

.blob {
  position: absolute;
  z-index: 1;
}

.displaybox {
  z-index: 4;
  border-radius: 10px;
  position: relative;
  margin: 10px 20px;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  flex-direction: column;
  color: #555;
  /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px; */
}
.UserDisplayInfor {
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  margin: 0px auto;
  margin-top: 100px;
}

.background {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  position: absolute;
  left: 0;
  z-index: -1;
  height: 100%;
  /* background-color: #555; */
}

.title {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 1.4rem;
  color: #555;
  margin-left: 20px;
}

.value {
  margin-left: 20px;
}

.number {
  font-size: 1.3rem;
  font-family: "Mochiy Pop P One", sans-serif;
  margin-bottom: 1rem;
  margin-right: 6px;
}

.lds_circle {
  display: inline-block;
  transform: translateZ(1px);
}
.lds_circle > div {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 2px;
  border-radius: 50%;
  background: #f8f272;
  animation: lds_circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds_circle {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
